.cat-img {
  width: 200px;
  border-radius: 10px;
}

.cat-img2 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.cat-img3 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 75px;
}

.search-bar {
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 5px;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-style: solid;
}

.google-search-bar {
  font-size: 15px;
  width: 400px;
  padding: 10px 12px;
  border: none;
  border-radius: 20px;
  box-shadow:  0 0 10px rgba( 0, 0, 0, 0.3);
}

.google-search-bar:focus {
  outline-color: rgb(0, 94, 255);
}

.pfp {
  margin-top: 15px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
  vertical-align: middle;
}

.status {
  font-size: 16px;
  margin: 15px 30px 0 5px;
  border: none;
  vertical-align: middle;
}

.post-button {
  margin-top: 15px;
  vertical-align: middle;
  background-color: rgb(0, 170, 255);
  color: white;
  border: none;
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 16px;
  font-weight: bold;
}