p {
  margin: 0;
  font-family: arial;
}

.container1,
.container2 {
  display: flex;
  height: 60px;
  margin: 10px;
}

.div1 {
  display: flex;
  width: 100px;
  background-color: lightblue;
  align-items: center;
  justify-content: center;
}

.item1 {
  background-color: black;
  color: white;
}

.div2 {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: lightpink;
}

.row2 {
  display: flex;
  justify-content: space-between;
}

.row2 > div {
  background-color: black;
  color: white;
}

.gmail-container {
  width: 350px;
  padding: 10px 15px;
  box-shadow:  0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  margin-bottom: 30px;
}

.all-inboxes {
  font-size: 11px;
  color: gray;
  margin-bottom: 15px;
}

.all-mail {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.mailbox {
  display: flex;
  align-items: center;
}

.user-pfp {
  width: 50px;
  margin-right: 8px;
}

.user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.mail-content {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  flex: 1;
}

.mail-title {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 17px;
  font-weight: bold;
}

.time {
  font-size: 13px;
  color: gray;
}

.mail-desc {
  font-weight: bold;
  font-size: 14px;
}

.main-content {
  font-size: 13px;
  color: gray;
}


.article-container {
  display: flex;
  width: 400px;
  font-size: 15px;
  padding: 6px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.user-avata {
  width: 60px;
  margin-right: 10px;
}

.avata {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.author {
  font-weight: bold;
  margin-bottom: 5px;
}

.author-tag {
  color: gray;
  font-weight: 100;
}

.article-title {
  margin-bottom: 8px;
}

.attached-video {
  display: flex;
  height: 90px;
  width: calc(100% - 20px);
}

.video-thumbnail {
  width: 90px;
  background-color: rgb(199, 197, 197);
  border: 1px solid rgb(199, 197, 197);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.video-container {
  flex: 1;
  padding: 14px 10px 14px 10px;
  border: 1px solid rgb(199, 197, 197);
  margin-left: -1px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.video-platform {
  color: gray;
  margin-bottom: 6px;
}