p {
  font-family: arial;
  margin: 0;
}

.header {
  position: fixed;
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  left: 50px;
  right: 50px;
  border-bottom: 1px solid rgb(220, 219, 219);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-pfp {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.user-name {
  font-weight: bold;
  margin-left: 10px;
}

.add-btn {
  padding: 7px 8px;
  border: none;
  background-color: rgb(0, 140, 255);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.msg-btn {
  padding: 7px 10px;
  border: none;
  background-color: rgb(226, 223, 223);
  font-weight: bold;
  border-radius: 5px;
}

.right-sidebar {
  position: fixed;
  background-color: green;
  color: white;
  right: 0;
  width: 100px;
  top: 65px;
  bottom: 0;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  width: 300px;
  height: 100px;
  background-color: #fff;
  padding: 15px 0 10px 15px;
  border-radius: 10px;
}

.modal-title {
  font-size: 25px;
  font-weight: bold;
}

.modal-desc {
  margin: 14px 0 12px 0;
}