p {
    font-family: arial;
    margin: 8px 0;
  }

  .mac-ad {
    width: 350px;
    margin-bottom: 30px;
  }

  .mac-news {
    font-size: 14px;
    color: rgb(255, 106, 0);
    font-weight: bold;
    text-align: center;
  }

  .mac-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .mac-pros {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .mac-price {
    font-size: 14px;
    font-weight: 100;
    text-align: center;
  }

  .buy-button {
    margin-top: 10px;
    margin-left: 150px;
    border: none;
    background-color: rgb(0, 94, 255);
    color: white;
    padding: 6px 12px;
    border-radius: 15px;
    font-weight: bold;
  }

  .balance-wallet {
    width: 300px;
    text-align: left;
  }

  .total {
    font-size: 29px;
    width: 155px;
    line-height: 24px;
  }

  .currency {
    font-size: 15px;
    color: rgb(102, 101, 101);
  }

  .plus {
    font-size: 15px;
    color: green;
  }

  .status {
    font-size: 15px;
    color: rgb(102, 101, 101);
  }

  .minus {
    color: red;
  }